<div class="content" style="margin-right:1%">
  <h3>New <%= @item.parent_hnid ? "comment" : "story"%></h3>
  <%= render 'root/show_item', :item => @item %>
</div>

<script>
  $('.item').slideDown();
</script>
