.content{ background:#f6f6ef; padding-top:10px; font-size:9pt; float:left; width:49.5%; }
.item{ background:#e6e6df; margin-bottom:5px; padding-left:5px; padding-top:5px; padding-bottom:5px; }
#pagetop{ background:#f6f6ef; width:100%; }
.context{ background:#f6f6ef; display:none; padding:0.5em; }
.contextbutton{ font-size:8pt; color:#828282; cursor:pointer; margin-top:1em; margin-bottom:1em; }
.ancestor{ padding-bottom:0.5em; }

.shortlistClose{ color:#828282; cursor:pointer; float:right; margin-left:2em; margin-right:5px; }
#stream .shortlistClose{ display:none; }
#shortlist .shortlistClose{ display: block; }

body{ font-family:Verdana; font-size:10pt; color:#000000; margin:2 auto; }
h3{ color:#828282; margin-left:0.5em; }
.admin td{ font-family:Verdana; font-size:8.5pt; color:#000000; }
input{ font-family:Courier; font-size:10pt; color:#000000; }
input[type="submit"]{ font-family:Verdana; }
textarea{ font-family:Courier; font-size:10pt; color:#000000; }
a:link{ color:#000000; text-decoration:none; }
a:visited{ color:#828282; text-decoration:none; }
.default{ font-family:Verdana; font-size: 10pt; color:#828282; }
.admin{ font-family:Verdana; font-size:8.5pt; color:#000000; }
.title{ font-family:Verdana; font-size: 10pt; color:#828282; }
.adtitle{ font-family:Verdana; font-size: 9pt; color:#828282; }
.subtext{ font-family:Verdana; font-size: 7pt; color:#828282; }
#pagetop{ font-family:Verdana; font-size: 10pt; color:#222222; }
.comhead{ font-family:Verdana; font-size: 8pt; color:#828282; }
.comment{ font-family:Verdana; font-size: 9pt; }
.dead{ font-family:Verdana; font-size: 9pt; color:#dddddd; }
.comment a:link, .comment a:visited{ text-decoration:underline;}
.dead a:link, .dead a:visited{ color:#dddddd; }
#pagetop a:visited{ color:#000000;}
.topsel a:link, .topsel a:visited{ color:#ffffff; }
.subtext a:link, .subtext a:visited{ color:#828282; }
.subtext a:hover{ text-decoration:underline; }
.comhead a:link, .subtext a:visited{ color:#828282; }
.comhead a:hover{ text-decoration:underline; }
.default p{ margin-top: 8px; margin-bottom: 0px; }
.pagebreak{ page-break-before:always}
pre{ overflow: auto; padding: 2px; max-width:600px; }
pre:hover{ overflow:auto; }
