<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title>Follow HN in real-time</title>
    <%= stylesheet_link_tag :all %>
  </head>

  <body>
    <div id="pagetop">
      <b>Follow HN in real-time</b>
      <img height="1" width="10" src="/images/s.gif">
    </div>

    <div style='margin-top:3em; padding:1em; background:#fc8'>
      Ok, you will no longer be emailed
      <%= @subscription.author ?
            "when #{@subscription.author} posts" :
            "about #{@subscription.pattern}"%>.
      <a style='color:#00f; text-decoration:underline' href='mailto:feedback@readwarp.com'>Give us feedback</a> or
      <a style='color:#00f; text-decoration:underline' href='/'>continue</a>.
    </div>
  </body>
</html>
