<div class="column view">
  <% if session[:user] && session[:user].has_followees?%>
    <h3>You are following <%= pluralize session[:user].followee_count, 'user'%></h3>
    <div style='padding-bottom:1em'>
      <% session[:user].followees.each do |item|%>
        <%= render 'root/show_user', :item => item %>
      <% end %>
    </div>
  <% end %>

  <h3>Top users</h3>
  <div style='padding-bottom:1em'>
    <% Item.top_users.each do |item|%>
      <%= render 'root/show_user', :item => item if item%>
    <% end %>
  </div>

  <h3>Recently active users</h3>
  <div>
    <% Item.active_users.each do |item| %>
      <%= render 'root/show_user', :item => item%>
    <% end %>
  </div>
</div>
