<div class="column view">
  <% if session[:user] && session[:user].has_followees?%>
    <h3>You are following <%= pluralize session[:user].followee_count, 'user'%></h3>
    <div style='padding-bottom:1em'>
      <% session[:user].followees.each do |item|%>
        <%= render 'root/show_user', :item => item if item%>
      <% end %>
    </div>
  <% else %>
    <div id='call-to-action' style='font-weight:bold; margin-bottom:1em; margin-left:1em'>
      You aren't following anybody yet.
      Click <span style='color:#bb5500;border:1px solid #bb5500;font-weight:bold;padding-left:0.5em;padding-right:0.5em'>follow</span> a few times to get started!
    </div>
    <div class='message' style='text-align:right; display:none; font-weight:bold; margin-bottom:1em; margin-right:5px'>Now login &uarr; to save your subscriptions</div>
  <% end %>

  <h3>Top users</h3>
  <div style='padding-bottom:1em'>
    <% Item.top_users.each do |item|%>
      <%= render 'root/show_user', :item => item if item%>
    <% end %>
  </div>

  <h3>Recently active users</h3>
  <div>
    <% Item.active_users.each do |item| %>
      <%= render 'root/show_user', :item => item%>
    <% end %>
  </div>
</div>
