<% if @items['my_stream'].blank? %>
  <%= render 'root/following' %>
<% else %>
  <div class="column view">
    <div class='closeButton'>x</div>
    <h3>Your stream</h3>
    <%= htmlstream 'my_stream' %>
  </div>
<% end %>
