<div class="column view">
  <h3><%= raw @title %> <a class='follow button' followee='<%= @followee %>'>follow</a></h3>
  <div class='login-call' style='text-align:right; display:none; margin-right:5px; color:#bb5500'>login &uarr; to save your subscriptions</div>
  <%= htmlstream @id %>
</div>

