<div class="column view">
  <h3><%= raw @title %> <a class='follow button' followee='<%= @followee %>'>+</a></h3>
  <div class='message' style='text-align:right; display:none; margin-right:5px; color:<%= layout['topcolor']%>'>login &uarr; to save your subscriptions</div>
  <%= htmlstream @id %>
</div>

