<div class="content" style="margin-right:1%">
  <h3>Stream</h3>
  <div id="stream">
    <%= render 'show_items', :items => @recentItems %>
  </div>
</div>
<div class="content">
  <h3>Watchlist
    <div style="float:right; font-weight:normal; font-size:10px">
    (click on a post to add it here)&nbsp;
    </div>
  </h3>
  <div id="shortlist">
    <%= render 'show_items', :items => @shortlist %>
  </div>
</div>

<script>
  mostRecentItem = <%= @mostRecentItem %>;

  shortlist.push.apply(shortlist, <%= raw @shortlist.collect{|x| x.hnid.to_s}.inspect %>);

  setTimeout(function() {
    $('.item').slideDown();
  }, 100);

  for (var i = 0; i < shortlist.length; ++i) {
    $('.follow[author='+shortlist[i]+']').html('-');
  }
</script>
