<div class="column" id='stream_column'>
  <h3>Hacker News in real-time</h3>
  <%= htmlstream 'stream' %>
</div>

<div id='spinner'>
  <img src='/images/spinner.gif'>
</div>

<%= render 'root/my_stream'%>

<script>
  <%= render :file => 'root/_index.js.erb' %>
</script>
