<div class="content" style="margin-right:1%">
  <h3>Stream</h3>
  <%= raw(htmlrender :stream, :show_items, :items => @stream) %>
</div>
<div class="content">
  <h3>Watchlist
    <div style="float:right; font-weight:normal; font-size:10px">
    (click on a post to add it here)&nbsp;
    </div>
  </h3>
  <%= raw(htmlrender :shortlist, :show_items, :items => @shortlist) %>
</div>

<script>
  <%= render :file => 'root/_index.js.erb' %>
</script>
