<!DOCTYPE html>
<html>
  <head>
    <title>Hacker News in real-time</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <table cellspacing="0" cellpadding="0" border="0" id="pagetop">
      <tbody>
        <tr>
          <td bgcolor="#ff6600">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" style="padding: 2px;">
              <tbody>
                <tr>
                  <td style="width: 18px; padding-right: 4px;">
                    <img height="18" width="18" style="border: 1px solid rgb(255, 255, 255);" src="/images/s.gif">
                  </td>
                  <td style="line-height: 12pt; height: 10px;">
                    <span>
                      <b><a target="_blank" href="http://news.ycombinator.com/">Hacker News in real-time</a></b>
                      <img height="1" width="10" src="/images/s.gif">
                      <a target="_blank" href="http://news.ycombinator.com/newest">new</a> |
                      <a target="_blank" href="http://news.ycombinator.com/newcomments">comments</a> |
                      <a target="_blank" href="http://news.ycombinator.com/ask">ask</a> |
                      <a target="_blank" href="http://news.ycombinator.com/jobs">jobs</a> |
                      <a target="_blank" href="http://news.ycombinator.com/submit">submit</a>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <%= yield %>
  </body>
</html>
